// Inherits from layout 
extend layout
// Then we produce a form that triggers /person once
// the user hits Submit
block navbarcontent
    +nav_item("/") Sample Work
    +nav_item("/mywork","active") Your Work
    +nav_item("/reference") Reference
block content
  p
    +icon-primary("search")
    |  #{title}:
    form(method='get', action='/family')
      select(name = "name")
        - for (var inx = 0; inx < results.length; inx++)
          option #{results[inx].login}
      input(type='submit', value='Show Family')